@charset "UTF-8";
/* 下層ページヘッダー */
header {
  padding: 0;
  height: 280px;
}
.header__top {
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
.header__visual {
  width: 100%;
}
picture {
  width: 100vw;
}
.header__visual {
  width: 100%;
  height: 190px;
}
.header__visual__pic {
  width: 100%;
  max-height: 190px;
}
/* CEO */
.section--ceo {
  padding-top: 60px;
  padding-bottom: 100px;
}

.section__title--ceo {
  text-align: center;
}

.section__title__under--ceo {
  font-size: 18px;
  line-height: 28.8px;
  margin-top: 20px;
  text-align: center;
}

.section__container--ceo {
  width: 790px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
}
.section__contatiner__text--ceo {
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.05em;
}
.section__container--ceo a {
  color: #349bf4;
  text-decoration: underline;
}
.ceo-photo {
  float: left;
  margin: 0 25px 25px 0;
}
.office-photo {
  width: auto;
  max-width: 1110px;
}
@media screen and (max-width: 768px) {
  .inner {
    width: auto;
  }

  header {
    height: auto;
  }
  .header__top {
    width: 100vw;
    height: auto;
    padding: 0;
  }
  .section--ceo {
    width: 100vw;
    padding-top: 40px;
  }
  .section__container--ceo {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
  }

  .office_photo {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  .section__title__under--ceo,
  .section__contatiner__text--ceo {
    font-size: 15px;
  }
}
